/* HEADER */

header {
  background: #ff00dd;
  background: linear-gradient(
    140deg,
    rgba(255, 0, 221, 1) 0%,
    rgba(145, 87, 199, 1) 50%,
    rgba(83, 237, 201, 1) 100%
  );
  color: #fff;
}

/* FORM */

.form {
  background: #ff00dd;
  background: linear-gradient(
    140deg,
    rgba(255, 0, 221, 1) 0%,
    rgba(145, 87, 199, 1) 50%,
    rgba(83, 237, 201, 1) 100%
  );
}

/* FOOTER */
